{% extends "base.html" %} {% load static %} {% block content %}
<link rel="stylesheet" href="{%  static  'css/blog-detail.css'  %}" />

<main>
  <!-- Page content -->
  <h1>Planta Blog</h1>
  <!-- Latest Blog Section  -->
  <div class="new-post-container">
    <div class="new-card-row">
      <div class="new-card-col img">
        <a href="">
          <img
            class="new-card-image"
            src="{{ latestpost.img.url }}"
            alt="blog-image"
          />
        </a>
      </div>

      <div class="new-card-col post">
        <div class="new-card-details">
          <span class="card-date new">{{ latestpost.created_on }}</span>
          <h2 class="card-title new">{{ latestpost.title }}</h2>
          <p class="card-category new">{{ latestpost.category }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Latest Blog Section  -->

  <!-- Blog List -->
  <div class="post-container">
    <div class="blog-card-rows">
      {% for post in posts %}
      <!-- Blog card-->
      <div class="blog-card">
        <div class="card">
          <a href="">
            <img class="card-image" src="{{ post.img.url }}" alt="blog-image" />
          </a>
          <div class="card-details">
            <span class="card-date">{{ post.created_on }}</span>
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="card-category">{{ post.category }}</p>
          </div>
        </div>
      </div>
      <!-- Blog card-->
      {% endfor %}
    </div>
  </div>

  <!-- Blog List -->

  <!-- Page content -->
</main>

{% endblock %}
