{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}" />"
<header>
  <h1 class="navbar-title">Planta</h1>
  <nav class="header">
    <ul class="navbar-list">
      <li class="nav-element">
        <a href="{% url 'plantastore:product-list' %}">Store</a>
      </li>
      <li class="nav-element"><a>Blog</a></li>
      <li class="nav-element"><a>Social</a></li>
      <li class="nav-element"><a>About</a></li>
      <li class="nav-element"><a>Contact</a></li>
    </ul>
  </nav>
</header>
